<div class="span9 hero-body">
  <div class="hero-unit">
    
    <p><strong>Total:</strong> <%= @stats["count_list"] %></p>
    <p><strong>Number Read:</strong> <%= @stats["count_read"] %></p>
    <p><strong>Number Unread:</strong> <%= @stats["count_unread"] %></p>

    <p><strong>Genre:</strong> 
      <ul><% Genre.all.each do |genre| %>
      		<li><%= genre.name %>: 
      			<% all_articles_for_genre = genre.sources.first.articles %>
      			<% articles_for_this_user = all_articles_for_genre.find_all_by_user_id @user.id %>
      			<%= articles_for_this_user.count %></li>
      	<% end %>
      </ul>
    </p>
  </div>
</div>
<div class="span9 hero-body">
  <div class="hero-unit">
    <ol>
    <% @articles.each do |article| %>
    	<li>Title: <%= link_to article.title, article_url(article.id) %> --- Genre: <%= article.source.genre.name %> -- Shortlink: <%= article.shortlink %>
    		Status: <% if article.state == "1" %>
    					Read
    				<% else %>
    					Unread
    				<% end %>
    				 -- Time: <%= Time.at(article.time_added).strftime("%B %d, %Y %I:%M%p") %>
    				</li>
    <% end %>
    </ol>
    <%= paginate @articles %>
  </div>
</div>

